@{
    ViewBag.Title = "About";
}


<h3>
  About Me
</h3>

<hr />

<div class="description-block">
  <p> I’m a wife, a mom with a full-time job as software developer at Gaap Point of Sales.</p>

  <p>Being a developer gives me a sense of accomplishment when work on challenging tasks that require research and development. Being able to work virtually and work on variety of tasks.   It allows me to learn and grow as person. My daily motivation comes from being a mom, it inspires me to do my best so that I can provide better opportunities for my son.</p>

  <p>I studied at Durban University of Technology from 2006 to 2008. I started my first development job in 2009. In 2012 I started with my BTech part-time which I ended up not completing because the projects I worked on required specific skill sets which I did inhouse training and certification so the BTech fell away, but this did not stop me from increasing me knowledge in development. The next skill set on my list is Cloud solutions Architect.</p>

  <p>In my pockets of time, I listen to audio books, declutter, home organisation, make small progress on projects that have started and mediation and prayer. I enjoy working in a team environment, and I get along well with people. Working in an agile environment as taught me to how to communicate with team members, have empathy and be teachable.</p>

</div>

