@{
  ViewBag.Title = "Home Page";
}

<h1>Virtual Transaction App</h1>

<b>
  Virtual Transaction About
</b>

<div class="square">
  <div>
    <img style="float: left;
            margin: 5px;" src="~/Content/Images/logoNoText.png"
         alt="VIrtualTransactions">
  </div>

  <p style="text-align: justify;font-size: 25px;">
    <h1 style="
    font-size: 40px;
    padding-bottom: 12px;
    line-height: normal;
    color: cadetblue;">What is Virtual Transaction?</h1> 
    <div style="
    font-size: 20px;
    line-height: initial;
    padding-bottom: 15px;
    ">Virtual Transaction is a system that manages the customers details, account info and transactions.</div>

    <h1>How does it work?</h1>
    <div>
      Customer details are captured and verified to create accounts. Accounts are updated based on the transactions added or edited.
    </div>
  </p>

</div>